<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href='/css/styles.css'> 
    </head>
    <body>
        <h1>{{>header}} </h1>

        <p>This site was created by max richman. I tuses data from mapbox.com an some of other places</p>

        {{>footer}}
    </body>
</html>
